.mainBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.toDoBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
    height: 100vh;
    width: 100vh;
    background-color: aqua;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 5%;
}

.toDoWindow{
    height: 80%;
    width: 90%;
    background-color: pink;
}

.button{
    width: 80%;
}

.addButton{
    height: 10%;
    width: 70%;
}